span {
  width: 100%;
  display: inline-block;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  font-size: 11px;
  color: #092d48;
}

.row {
  max-width: 1170px;
  margin: auto;
}

.p-5 {
  padding: 5px;
}
